/* Selector by elements html */
/* p{
    color: white;
    background-color: gray;
} */


/* Selector by id in element  */
/* #intro{
    color: white;
    background-color: gray;
} */

/* Class selector */
/* .first{
    font-size:200%;
} */

/* Descendant Selectors */
#intro .first em{
    color: pink;
    background-color: gray;
}